<header class="site-header">
    <div class="inner">
        <a href="{{ url('homepage') }}" class="sh-lnk">
            <div class="sh-logo">
                <img srcset="{{ asset('assets/media/img/' ~ site_logo ~ '-132.png', 'theme', true, version) }} 132w,
                             {{ asset('assets/media/img/' ~ site_logo ~ '-198.png', 'theme', true, version) }} 198w,
                             {{ asset('assets/media/img/' ~ site_logo ~ '-219.png', 'theme', true, version) }} 219w,
                             {{ asset('assets/media/img/' ~ site_logo ~ '-329.png', 'theme', true, version) }} 329w"
                     sizes="(max-width:639px) 132px, (min-width:640px) and (max-width:959px) 198px, (min-width:960px) 219px"
                     alt="{{ config.get('general/sitename') }}"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     class="sh-img">
            </div>
        </a>
        {% block navigation %}
            {{ menu('foo', 'partials/_navigation.twig') }}
        {% endblock navigation %}
    </div>
</header>
