<div class="mod-hero">
    <div class="mod-hero-background">
        <picture class="mod-hero-picture">
            <source srcset="{{ thumbnail(record.image, 'hero_mobile_320') ~ '?' ~ version }} 320w,
                            {{ thumbnail(record.image, 'hero_mobile_640') ~ '?' ~ version }} 640w,
                            {{ thumbnail(record.image, 'hero_mobile_960') ~ '?' ~ version }} 960w"
                    media="(max-width: 639px)"
                    sizes="100vw">
            <source srcset="{{ thumbnail(record.image, 'hero_tablet_640') ~ '?' ~ version }} 640w,
                            {{ thumbnail(record.image, 'hero_tablet_960') ~ '?' ~ version }} 960w,
                            {{ thumbnail(record.image, 'hero_tablet_1490') ~ '?' ~ version }} 1440w"
                    media="(min-width: 640px) and (max-width: 959px)"
                    sizes="100vw">
            <source srcset="{{ thumbnail(record.image, 'hero_desktop_1600') ~ '?' ~ version }} 1600w,
                            {{ thumbnail(record.image, 'hero_desktop_2400') ~ '?' ~ version }} 2400w"
                    media="(min-width: 960px)"
                    sizes="100vw">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 alt=""
                 class="mod-hero-img">
        </picture>
    </div>
    {% if baseline is not empty %}
        <div class="mod-hero-content">
            {% if baseline is not empty %}
                <div class="mod-hero-baseline">
                    {{ baseline }}
                </div>
            {% endif %}
            {% if arrow is not empty and arrow == 1 %}
                <div class="mode-hero-icon">
                    <a href="#about" class="icon-arrow-1-c">
                        Voir la suite
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
