{% extends '_error_base.twig' %}

{% block content %}

    <div class="site-error">
        <div class="inner">
            <div class="sc-errors sc-old-browser">
                {% if record is defined %}
                    {% if record.image != "" %}
                        <div class="sc-errors-img">
                            <a href="{{ image(record.image) }}">
                                <img src="{{ thumbnail(record.image, 740, 560) }}">
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="sc-errors-logo">
                    <img src="{{ asset('assets/media/img/' ~ site_logo ~ '-300.png', 'theme', true, version) }}"
                         alt="{{ config.get('general/sitename') }}"
                         class="sce-img">
                </div>
                <h1 class="sc-errors-title-1">
                    {% if record is defined %}
                        {{ record.title }}
                    {% endif %}
                </h1>
                {% if record is defined %}
                    {% if record.teaser is defined %}
                        <div class="sc-errors-teaser">
                            {{ record.teaser }}
                        </div>
                    {% endif %}
                    {% if record.body is defined %}
                        <div class="sc-errors-body">
                            {{ record.body }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
