{% extends '_extended_base.twig' %}

{% set meta_title_override = 'Liste des pages' %}
{% set meta_description_override = 'Description de la liste des pages' %}

{% block content %}

    <div class="site-content listing">
        <div class="inner">
            <div class="l-head article">
                <h1>Toutes les pages</h1>
                {% set records_length = 0 %}
                {% for record in records %}
                    {% if record.robots == 1 %}
                        {% set records_length = loop.index %}
                    {% endif %}
                {% endfor %}
                {% if records_length >= 1 %}
                    <h2>{{ records_length }} pages trouvées</h2>
                    <p class="l-intro">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                {% else %}
                    <h2>{{ __('general.phrase.no-content-found') }}</h2>
                    <p class="l-intro">
                        {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                    </p>
                {% endif %}
            </div>
            {% if records_length >= 1 %}
                <ul class="l-list">
                    {% for record in records %}
                        {% if record.robots == 1 %}
                            <li class="l-itm">
                                <a href="{{ record.link }}" class="l-lnk">
                                    <div class="l-wrapper-img">
                                        {% if record.image is not empty %}
                                            <img srcset="{{ thumbnail(record.image, 300, 200) ~ '?' ~ version }} 300w,
                                                         {{ thumbnail(record.image, 600, 400) ~ '?' ~ version }} 600w"
                                                 sizes="(max-width:639px) 300px, (min-width:640px) 300px"
                                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 alt=""
                                                 class="l-img">
                                        {% else %}
                                            <div class="l-default-img"></div>
                                        {% endif %}
                                    </div>
                                    <div class="l-content">
                                        <h2 class="l-title-1">{{ record.title }}</h2>
                                        {# display something introduction-like.. #}
                                        <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            {# If there are more records than will fit on one page, the pager is shown. #}
            {{ pager(template = 'partials/_pagination.twig') }}

        </div>
    </div>

{% endblock content %}
