{% extends '_extended_base.twig' %}
{% set categories_list = app.config.get('taxonomy/categories/options') %}
{% set meta_title_override = 'Références en matière de développement, web design et SEO' %}
{% set meta_description_override = '' %}

{% block content %}

        {# Hero #}
        {% include 'partials/_hero.twig' with {
            'baseline': '<h1><strong>Mes références</strong> <br />dans le domaine du web, du print et du référencement</h1><h2>Retrouvez ici toutes mes expériences en matière de développement, web design et SEO</h2>',
            'class': 'alt'
        } %}

        <div class="site-listing">
            <div class="inner">
                <div class="row-tablet row-desktop">
                    {# Categories item sort bar #}
                    <div class="sl-sortbar">
                        <ul class="sls-list">
                            <li class="sls-itm">
                                <button type="button" class="btn-1 active sls-btn">
                                    Toutes les catégories
                                </button>
                            </li>
                            {% for category in categories_list -%}
                                <li class="sls-itm">
                                    <button type="button" class="btn-1 sls-btn">
                                        {{ category }}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% for record in records %}
                        {# Contruct data-categories attribute #}
                        {% set categories = '' %}
                        {% if record.taxonomy.categories is defined %}
                            {% for category in record.taxonomy.categories %}
                                {% set categories = (categories ? categories ~ ', ' : '' ) ~ category %}
                            {% endfor %}
                        {% endif %}
                        {# Reference element #}
                        <div class="col-tablet-6 col-desktop-4">
                            <div class="sl-reference" data-categories="{{ categories }}">
                                {# Taxonomies #}
                                {% if record.taxonomy is defined %}
                                    <div class="sl-taxonomy">
                                        {% if record.taxonomy.tags is defined %}
                                            <div class="sl-tags">
                                                <ul class="sl-list">
                                                    {% for route, tag in record.taxonomy.tags %}
                                                        <li class="sl-itm">
                                                            <a href="{{ route }}" title="{{ tag }}" class="sl-lnk">{{ tag }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="sl-foreground">
                                    {% if record.image != "" %}
                                        <a href="{{ record.link }}" class="slf-lnk">
                                            <img data-srcset="{{ thumbnail(record.image, 300, 295) ~ '?' ~ version }} 300w,
                                                         {{ thumbnail(record.image, 370, 364) ~ '?' ~ version }} 370w,
                                                         {{ thumbnail(record.image, 555, 546) ~ '?' ~ version }} 555w"
                                                 sizes="(max-width:639px) 300px, (min-width:640px) 370px"
                                                 data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 alt=""
                                                 class="slf-img lazyload" />
                                        </a>
                                    {% endif %}
                                </div>
                                {# Title #}
                                <h2 class="sl-title">
                                    <a href="{{ record.link }}" title="{{ record.title }}" class="slt-lnk">
                                        {{ record.title }}
                                    </a>
                                </h2>
                                {# Content/Excerpt #}
                                <div class="sl-content">
                                    <span class="slc-date">
                                        {% if record.date is not empty %}
                                            {{ record.date|date("m/Y") }}
                                        {% endif %}
                                    </span>
                                    <p class="slc-excerpt">
                                        {% if record.introduction %}
                                            {{ record.introduction }}
                                        {% elseif record.teaser %}
                                            {{ record.teaser }}
                                        {% else %}
                                            {{ record.excerpt(150, false, search|default('')) }}
                                        {% endif %}
                                    </p>
                                    <a href="{{ record.link }}" title="En savoir plus sur {{ record.title }}" class="slc-lnk">
                                        En savoir plus
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {{ pager(template = 'partials/_pagination.twig') }}
                </div>
            </div>
        </div>

{% endblock content %}
