<!DOCTYPE html>
<html lang="{{ htmllang() }}" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {%- set debug = config.get('general/debug') %}
    {%- set version = (debug ? date().timestamp : config.get('general/version')) %}
    {%- set site_title = config.get('general/sitename') %}
    {%- set meta_title = (record.meta_title is defined ? record.meta_title|striptags : (meta_title_override is defined ? meta_title_override|striptags : '')) %}
    {%- set meta_description = (record.meta_description is defined ? record.meta_description|striptags : (meta_description_override is defined ? meta_description_override|striptags : '')) %}
    {%- set twitter_name = (config.get('general/twitter_name') ? config.get('general/twitter_name') : '') %}
    {%- set current_url = canonical() %}
    {%- set site_logo = 'logo-bolt' %}

    {%- if meta_title is not empty -%}
        {% set meta_title = meta_title ~  ' | ' ~ site_title %}
    {%- elseif record.title is defined -%}
        {% set meta_title =  record.title|striptags ~ ' | ' ~ site_title %}
    {%- else -%}
        {% set meta_title = site_title ~  ' | ' ~ config.get('general/payoff') %}
    {%- endif %}

    <title>{% block title %}{{ meta_title }}{% endblock %}</title>
    <meta name="description" content="{{ meta_description }}">
    <meta name="robots" content="{{ config.get('general/robots') }}">

    {# OPENGRAPH #}
    {%- block opengraph_meta -%}
    <meta property="og:site_name" content="{{ site_title }}">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="">
    {% endblock opengraph_meta %}

    {# TWITTER #}
    {%- block twitter_meta -%}
    {%- if twitter_name is not empty -%}
    <meta name="twitter:card" content="sharing_twitter_card">
    <meta name="twitter:site" content="@{{ twitter_name }}">
    <meta name="twitter:url" content="{{ current_url }}">
    <meta name="twitter:title" content="{{ meta_title }}">
    <meta name="twitter:description" content="{{ meta_description }}">
    <meta name="twitter:image" content="">
    {% endif %}
    {% endblock twitter_meta %}

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="cleartype" content="on">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/media/img/apple-icon-57x57.png', 'theme', true, version) }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/media/img/apple-icon-60x60.png', 'theme', true, version) }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/media/img/apple-icon-72x72.png', 'theme', true, version) }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/media/img/apple-icon-76x76.png', 'theme', true, version) }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/media/img}/apple-icon-114x114.png', 'theme', true, version) }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/media/img}/apple-icon-120x120.png', 'theme', true, version) }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/media/img/apple-icon-144x144.png', 'theme', true, version) }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/media/img/apple-icon-152x152.png', 'theme', true, version) }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/media/img/apple-icon-180x180.png', 'theme', true, version) }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/media/img/android-icon-192x192.png', 'theme', true, version) }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/media/img/favicon-32x32.png', 'theme', true, version) }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/media/img/favicon-96x96.png', 'theme', true, version) }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/media/img//favicon-16x16.png', 'theme', true, version) }}">
    <link rel="manifest" href="{{ asset('system/manifest.json', 'theme', true, version) }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('assets/media/img/ms-icon-144x144.png', 'theme', true, version) }}">
    <meta name="theme-color" content="#ffffff">

    {# OLD BROWSER REDIRECT #}
    {%- block old_browser -%}
    <script>(function(){var a=document.documentElement;a&&(a.className=a.className.replace((new RegExp('(^|\\s)no-js(\\s|$)')),'$1js$2'));}());{% if debug %}var $$DEBUG$$=true;{% endif %}window.OLD_BROWSER_URL='page/old-browser';</script>
    {% endblock old_browser %}

    {# INLINE STYLESHEETS #}
    {%- block inline_stylesheets -%}
    {%- if debug -%}
    <link rel="stylesheet" href="{{ asset('system/inlinecss.css', 'theme', true, version) }}">
    {%- else -%}
    <style>{% include '/system/inlinecss.css' %}</style>
    {% endif %}
    {% endblock inline_stylesheets %}

    {# STYLESHEETS #}
    {%- block stylesheets -%}
    {%- if debug -%}
    <link rel="stylesheet" href="{{ asset('assets/css/fonts.css', 'theme', true, version) }}">
    {% endif -%}
    <link rel="preload" href="{{ asset('assets/css/styles.css', 'theme', true, version) }}" as="style" onload="this.rel='stylesheet';this.onload=''">
    <noscript><link rel="stylesheet" href="{{ asset('assets/css/styles.css', 'theme', true, version) }}"></noscript>
    <link rel="preload" href="{{ asset('assets/css/images.css', 'theme', true, version) }}" as="style" onload="this.rel='stylesheet';this.onload=''">
    <noscript><link rel="stylesheet" href="{{ asset('assets/css/images.css', 'theme', true, version) }}"></noscript>
    {% endblock stylesheets %}

    {# INLINE JS #}
    {%- block inline_js -%}
    <script>
    {%- if debug -%}
        {% include 'system/inlineJS-dev.js' %}
    {%- else -%}
        {% include 'system/inlineJS-prod.js' %}
    {% endif %}
    </script>
    {% endblock inline_js -%}

    {# FONTS LOADING #}
    {%- block fonts -%}
    {%- if not debug -%}
    <script>
    window.siteStarter.getFile('{{ asset('assets/css/fonts.css', 'theme', true, version) }}');
    </script>
    <noscript><link rel="stylesheet" href="{{ asset('assets/css/fonts.css', 'theme', true, version) }}"></noscript>
    {% endif %}
    {% endblock fonts %}

    {# MAIN JAVACRIPTS #}
    {%- block main_javascripts -%}
    <script defer src="{{ asset('system/config.js', 'theme', true, version) }}"></script>
    <script defer src="{{ asset('assets/js/main.js', 'theme', true, version) }}"></script>
    {% endblock main_javascripts %}

    {# HEAD JAVASCRIPTS #}
    {%- block head_javascripts -%}
    {%- if debug -%}
    <script defer src="{{ asset('assets/js/polyfill/picturefill.js', 'theme', true, version) }}"></script>
    <script defer src="{{ asset('assets/js/lib.js', 'theme', true, version) }}"></script>
    <script defer src="{{ asset('assets/js/scripts.js', 'theme', true, version) }}"></script>
    {% endif %}
    {% block extra_head_javascripts '' %}
    {% endblock head_javascripts %}
</head>
<body>
{%- block body %}
{% block global_content '' %}
{% endblock body %}
{%- if not debug -%}
    {# Code Google Anlytics #}
{%- endif -%}
</body>
</html>
